.logo{
    background-image: url("../images/logo.png");
}
.font18{
    font-size: 18px;
}
.font16{
    font-size: 16px;
}
.headergradient{
    /* background-image: linear-gradient(to right, #A1FFCE,#FAFFD1); */
}
.color{
    color:#0aaaa0;
}
.margintop40{
    margin-top:40px;
}
.margintop20{
    margin-top:20px;
}
.margintop10{
    margin-top:10px;
}
.padding5{
    padding:10px;
}
.bold{
    font-weight: bold;
}
.iconBorder{
    border : 2px solid #2ecc40;
    border-style: dotted;
}
.roundedCorners{
    border-radius: 30px;
}
.blackBackground{
    background-color: black;
}
.whiteText{
    color : white;
}
.header1{
    padding-bottom: 0px;
}
.header2{
    position: absolute;
    top:-50px;
    width: 70%;
    z-index : 1;
}
.wrap{
    overflow-wrap: break-word;
}
.inline{
    display: inline;
}
.relative{
    position: relative;
}
.top-20{
    top:-20px;
}
.top-50{
    top:-50px;
}
.left5{
    left: 5px;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.flexAlone{
    display: flex;
}
.paddingBottom20{
    padding-bottom: 20px;
}
.paddingBottom5{
    padding-bottom: 5px;
}
.pullup{
    top:-85px !important;
}
.zindex1{
    z-index: 1;
}
.zindex0{
    z-index: 0;
}

.carousel1{
   background-image: url(../images/carousel/img6.jpg);
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: cover;
   background-color: linear-gradient(to right, #A1FFCE,#FAFFD1);
   filter: grayscale(0.5);
}
.carousel2{
    background-image: url(../images/carousel/img11.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    filter: grayscale(0.3) blur(0px);
 }
 .carousel3{
    background-image: url(../images/carousel/img10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(0.3) blur(0px);
 }
 .headerText{
     display: block;
 }
 .headerText:after{
    content : '';
    display: block;
    width: 0;
    height:2px;
    border-bottom : 2px solid #2ecc40;
    transition: width .5s;
 }
 .headerText:hover{
    cursor: pointer;
 }
 .headerText:hover::after{
    width: 100%;
 }
 .heroText{
     position: relative;
     z-index: 999 !important;
     top:25%;
 }
 .font40{
     font-size: 40px;
 }
 @keyframes textSlider{
     0%{
        content : 'The hand that feeds us, needs your help...'
     }
     50%{
        content : 'A farmer is a magician who produces money from the mud.'
     }
     100%{
         content : 'The ultimate goal of farming is not the growing of crops, but the cultivation and perfection of human beings.'
     }
 }
 #slidingText{
    flex: 1;
    max-width: 60%;
 }
 #slidingText:after{
    content: '';
    animation : textSlider 40s infinite;
 }
 #heroButton{
     background: transparent;
     border: 2px solid white;
     border-radius: 25px;
 }
 #heroButton:hover{
     border: none;
     background-color: #2ecc40;
 }
 #slidingTextAlignment{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
 }
 .hide{
     display: none;
 }
 #mobileHeader{
    position: fixed;
    width:100%;
    top:0px;
    z-index: 100;
 }
 @keyframes fadein{
     0%{
         opacity: 0;
     }
     100%{
         opacity : 1;
     }
 }
 @keyframes fadeout{
     0%{
         opacity : 1;
     }
     100%{
         opacity : 0;
         display: none;
     }
 }
 .headerFadeOut{
    animation: fadeout 1.5s; 
}
 .headerFadeIn{
     animation: fadein 1.5s; 
 }
 #approachImg:hover{
     transform : scale(1.1); 
     /* box-shadow: 0px 0px 5px 10px white; */
 }
 @keyframes cardFlip{
    0%{
        transform : rotateY(0deg);
    }
    100%{
        transform : rotateY(360deg);
    }
 }
 #approachCard:hover , #planCard:hover ,#goalCard:hover{
     transform: scale(1.1);
     /* animation : cardFlip .2s; */
     /* transform : rotateY(180deg);  */
 }
 #approachCard , #planCard , #goalCard{
    height: 250px;
    width:250px;
    background:linear-gradient(to right,#11998e,#38ef7d);
    border-radius:10px;
    display:flex;
 }
 .cardProps{
     margin-bottom: 30px;
     justify-content: center;
 }
 .cardImgprops{
    position:relative;
    top:35%;
    left:-25px;
    border-radius: 50px;
    background-color: white;
    padding:5px;
    border:2px solid #2ecc40;
    border-spacing:3px;
    box-shadow:0px 0px 0px 5px white;
 }
 .cardTextContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .cardText{
    padding-right:10px;
    text-align:center;
 }
 #missionButton:hover{
     transform: translateX(10px);
 }
 .sample{
    text-align: center;
    word-spacing: 10px;
 }
 @keyframes fadeIn{
     0%{
         opacity: 0;
     }
     100%{
         opacity: 1;
     }
 }
 .fadeIn{
     animation: fadeIn 1s forwards;
 }
 .rollingText{
    display: none;
 }
 @keyframes slideRight{
     0%{
         left: 0%;
     }
     100%{
         left: 90%;
     }
 }
 .slider{
     animation : slideRight 5s forwards linear;
 }