.logo{
    background-image: url("../images/logo.png");
}
.font18{
    font-size: 18px;
}
.font16{
    font-size: 16px;
}
.font24{
    font-size: 24px;
}
.font28{
    font-size: 28px;
}
.headergradient{
    /* background-image: linear-gradient(to right, #A1FFCE,#FAFFD1); */
}
.color{
    color:#0aaaa0;
}
.margintop40{
    margin-top:40px;
}
.margintop20{
    margin-top:20px;
}
.margintop10{
    margin-top:10px;
}
.margintop70{
    margin-top:70px;
}
.padding5{
    padding:10px;
}
.wordSpace10{
    word-spacing: 10px;
}
.bold{
    font-weight: bold;
}
.iconBorder{
    border : 2px solid #2ecc40;
    border-style: dotted;
}
.roundedCorners{
    border-radius: 30px;
}
.blackBackground{
    background-color: #0a2701;
}
.whiteText{
    color : white;
}
.header1{
    padding-bottom: 0px;
}
.header2{
    position: absolute;
    top:-50px;
    width: 70%;
    z-index : 1;
}
.wrap{
    overflow-wrap: break-word;
}
.inline{
    display: inline;
}
.relative{
    position: relative;
}
.top-20{
    top:-20px;
}
.top-50{
    top:-50px;
}
.left5{
    left: 5px;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.flexAlone{
    display: flex;
}
.paddingBottom20{
    padding-bottom: 20px;
}
.paddingBottom5{
    padding-bottom: 5px;
}
.pullup{
    top:-85px !important;
}
.zindex1{
    z-index: 1;
}
.zindex0{
    z-index: 0;
}

.carousel1{
   background-image: url(../images/carousel/img6.jpg);
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: cover;
   background-color: linear-gradient(to right, #A1FFCE,#FAFFD1);
   filter: grayscale(0.5);
}
.carousel2{
    background-image: url(../images/carousel/img11.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    filter: grayscale(0.3) blur(0px);
 }
 .carousel3{
    background-image: url(../images/carousel/img10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(0.3) blur(0px);
 }
 .headerText{
     display: block;
 }
 .headerText:after{
    content : '';
    display: block;
    width: 0;
    height:2px;
    border-bottom : 2px solid #2ecc40;
    transition: width .5s;
 }
 .headerText:hover{
    cursor: pointer;
 }
 .headerText:hover::after{
    width: 100%;
 }
 .heroText{
     position: relative;
     z-index: 999 !important;
     top:25%;
 }
 .font40{
     font-size: 40px;
 }
 @keyframes textSlider{
     0%{
        content : 'The hand that feeds us, needs your help...'
     }
     50%{
        content : 'A farmer is a magician who produces money from the mud.'
     }
     100%{
         content : 'The ultimate goal of farming is not the growing of crops, but the cultivation and perfection of human beings.'
     }
 }
 #slidingText{
    flex: 1;
    max-width: 60%;
 }
 #slidingText:after{
    content: '';
    animation : textSlider 40s infinite;
 }
 #heroButton{
     background: transparent;
     border: 2px solid white;
     border-radius: 25px;
 }
 #heroButton:hover{
     border: none;
     background-color: #2ecc40;
 }
 #slidingTextAlignment{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
 }
 .hide{
     display: none;
 }
 #mobileHeader{
    position: fixed;
    width:100%;
    top:0px;
    z-index: 100;
 }
 @keyframes fadein{
     0%{
         opacity: 0;
         display: block;
     }
     100%{
         opacity : 1;
     }
 }
 @keyframes fadeout{
     0%{
         opacity : 1;
     }
     100%{
         opacity : 0;
         display: none;
     }
 }
 .fadeIn{
     animation : fadein 0.3s forwards;
 }
 .fadeOut{
     animation: fadeout 0.2s forwards;
 }
 .headerFadeOut{
    animation: fadeout 1.5s; 
}
 .headerFadeIn{
     animation: fadein 1.5s; 
 }
 #approachImg:hover{
     transform : scale(1.1); 
     /* box-shadow: 0px 0px 5px 10px white; */
 }
 @keyframes cardFlip{
    0%{
        transform : rotateY(0deg);
    }
    100%{
        transform : rotateY(360deg);
    }
 }
 #approachCard:hover , #planCard:hover ,#goalCard:hover{
     transform: scale(1.1);
     /* animation : cardFlip .2s; */
     /* transform : rotateY(180deg);  */
 }
 #approachCard , #planCard , #goalCard{
    height: 250px;
    width:250px;
    background:linear-gradient(to right,#11998e,#38ef7d);
    border-radius:10px;
    display:flex;
 }
 .cardProps{
     margin-bottom: 30px;
     justify-content: center;
 }
 .cardImgprops{
    position:relative;
    top:35%;
    left:-25px;
    border-radius: 50px;
    background-color: white;
    padding:5px;
    border:2px solid #2ecc40;
    border-spacing:3px;
    box-shadow:0px 0px 0px 7px white;
 }
 .cardTextContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .cardText{
    padding-right:10px;
    text-align:center;
    overflow: scroll;
 }
 #missionButton:hover{
     transform: translateX(10px);
 }
 @keyframes fadeIn{
     0%{
         opacity: 0;
     }
     100%{
         opacity: 1;
     }
 }
 .fadeIn{
     animation: fadeIn 1s forwards;
 }
 .rollingText{
    display: none;
 }
 #missionMoto{
    position:relative;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
 }
 @keyframes slideRight{
     0%{
         left: 0%;
     }
     100%{
         left: 90%;
     }
 }
 .slider{
     animation : slideRight 5s forwards linear;
 }
 #bar{
    height:50px;
    width: 50px;
    position: absolute;
    padding-left: 10px;
 }
 #parallaxCount{
     background-image: url("../images/parallax.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-position: bottom;
     background-color: #440101;
     background-blend-mode: screen;
 }
 #joinUs{
     background-image: url("../images/helpingHand1.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-position: bottom;
     position: relative;
 }
 #joinUs::before{
    position: absolute;
    top:0px;
    height: 100%;
    width: 100%;
    content: '';
    z-index: 1;
    background-color: rgba(1,1,1,0.80);
 }
 .paddingtop10{
     padding-top:20px;
 }
 .padding15{
     padding:15px;
 }
 .hrStyle1{
    height:2px;
    border-radius:5px;
    background-color: white;
    margin-bottom:15px;
    position: relative;
    z-index: 2;
 }
 .hrStyle1:after{
     display : block;
     position: relative;
     content : 'I I I I I';
     font-size: 28px;
     color: white;
     top:-20px;
     text-align: center;
     z-index: 2;
 }
 .helpUs{
     position: relative;
     z-index: 2;
 }
 .helpingText{
    display: flex;
    padding-right: 10px;
    align-items: center;
    overflow-wrap: break-word;
 }
 .helpingBox{
    box-shadow : 5px 5px 0px 0px black, 
                10px 10px 5px 1px white;
    border:1px solid white;
    background-color: white;
    border-radius:10px;
    padding-top:40px;
    min-height:250px;
    min-width: 230px;
    position: relative;
    z-index: 2;
 }
 #joinUsBtn,#DonateNowBtn,#AdoptNowBtn,#processBtn{
    border-radius: 20px;
    border:2px solid black;
    background-color: transparent;
    color:black;
 }
 #processBtn:hover{
    border : 0px;
    background-color: #004d40;
    color: white;
 }
 #joinUsBtn:hover,#DonateNowBtn:hover,#AdoptNowBtn:hover{
     background-color:black;
     color:white;
     border : 0px;
 }
 .marginBotton30{
    margin-bottom: 30px;
 }
 .marginBotton50{
    margin-bottom: 50px;
 }
 .paddingBottom50{
    padding-bottom: 50px;
 }
 .paddingBottom100{
    padding-bottom: 100px;
 }
 .paddingTop50{
    padding-top: 50px;
 }
 .letterSpace1{
     letter-spacing: 2px;
 }
 .helpingBoxTopContent{
    display: flex;
    color: black;
    justify-content: space-around;
 }
 .padding20{
    padding: 20px;
 }
 .padding40{
     padding: 40px;
 }
 .ourProcessImgProps{
    border-top-left-radius: 200px;
    box-shadow:5px -5px 5px 1px;
    border-top-right-radius: 200px;
    /* margin-left:-7px; */
 }
 .ourProcessContentProps{
    text-align:left;
    margin-top:-25px;
    border:2px solid black;
    border-bottom-right-radius: 200px;
    box-shadow:0px 8px 5px 1px;
 }
 .ourServicesContainerProps{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 }
 .ourFarmersImgProps{
    border-top-left-radius: 200px;
    box-shadow:-5px -5px 5px 1px;
    border-top-right-radius: 200px;
    margin-left:3px;
 }
 .ourFarmesContainerProps{
    text-align:right;
    margin-top:-25px;
    border:2px solid black;
    border-bottom-left-radius: 200px;
    box-shadow:0px 8px 5px 1px;
 }
 #GalleryName{
     z-index: 1;
    /* animation : animateGlow 5s infinite; */
  }
  @keyframes animateGlow
  {
    0%{
      text-shadow : 0px 0px 10px greenyellow;
    }
    50%{
      text-shadow : 0px 0px 25px #ef5350,
                  10px 10px 100px #ef5350,
                  20px 20px 200px #ef5350;
    }
    100%{
      text-shadow : 0px 0px 25px greenyellow,
                  10px 10px 100px #18ffff;
    }
  }
  .gallery-image:hover{
      cursor: pointer;
  }
  .tabby,.tabby:hover{
      background-color: white;
  }
  #eventTabs a:nth-child(n){
    background-color:  white;
    color:black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: 8px solid #10820e;
    box-shadow: 5px 0px 2px 2px #10820e;
  }
  @keyframes smallFlip{
      0%{
          transform: translateX(0px);
      }
      50%{
        transform: translateX(15px)
      }
      100%{
        transform: translateX(0px)
      }
  }
  #eventTabs a:nth-child(1){
      animation : smallFlip 5s infinite;
  }
  #eventTabs a:nth-child(3){
    animation : smallFlip 5s infinite;
    animation-delay: 1s;
  }
  #eventTabs a:nth-child(5){
    animation : smallFlip 5s infinite;
    animation-delay: 2s;
  }
  @keyframes sliderAnimation{
      0%{
        width : 0%;
      }
      100%{
        width : 60%;
      }
  }
  .divSlider{
      animation : sliderAnimation 1.5s forwards;
  }
  #ourProcessList{
      min-height: 230px;
  }
  #ourProcessList > .ourProcessListItem{
    font-size: 18px;
    font-weight: 300;
    padding:10px;
  }
  #ourProcessList > .ourProcessListItem::before{
    content : ' ';
    background-image: url("../images/yellow-flower.png");
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    display: inline-block;
    top: 7px;
    position: relative;
  }
  .alcatel{
    max-width: 440px;
    min-width: 350px;
  }
  .customCenter{
      display: flex;
      justify-content: center;
  }
  .hrStyle2{
    height:3px;background-color: #2ecc40;
  }
  @keyframes animateRotateLeft{
      0%{
          transform: rotateZ(20deg);
      }
      100%{
        transform: rotateZ(0deg);
      }
  }
  .rotateleft{
      animation: animateRotateLeft 2s forwards;
  }
  @keyframes animateRotateRight{
    0%{
        transform: rotateZ(-20deg);
    }
    100%{
      transform: rotateZ(0deg);
    }
}
.rotateRight{
    animation: animateRotateRight 2s forwards;
}
#galleryContainer{
    background-image: url("../images/gallerybackground1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height:900px;
}
#galleryContainer::before{
    background-color: rgba(1,1,1,0.80);
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
}
.relative{
    position: relative;
}
@keyframes randomAnime1{
    0%{
        transform: translate(0px,0px);
    }
    30%{
        transform: translate(5px,3px) rotateZ(10deg);
    }
    50%{
        transform: translate(-4px,6px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
.randomAnimation1{
    animation : randomAnime1 10s infinite forwards;
}
@keyframes randomAnime2{
    0%{
        transform: translate(0px,0px);
    }
    30%{
        transform: translate(-5px,8px) rotateZ(-10deg);
    }
    50%{
        transform: translate(8px,16px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
.randomAnimation2{
    animation : randomAnime2 10s infinite forwards;
}
@keyframes move{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(10px) rotate(40deg);
    }
}
.movement{
    animation : move 2s forwards;
}
  